{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Robert David Carey{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <meta name="keywords" content="poetry, carey">
</head>
<body>
  <div style="margin:20px">
    <br/>
    <br/>
    <main>
      {% block content %}{% endblock %}
    </main>
    <hr/>
    <p>updated {% now "m/d/y" %} – robertdavidcarey@pm.me</p>
  </div>
</body>
</html>
